html {
    height: 100%;
}

body {
    background-image: url("http://localhost:8888/files/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    width: 100%;
    height: 100%;

    font-family: sans-serif;

    margin: 0;
}

header {
    position: relative;

    background-color: black;
    color: white;

    height: 1.5em;
    align-items: center;

    z-index: 500;
    opacity: 85%;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.row-box {
    position: relative;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: start;
}

.date-group {
    position: relative;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.window {
    position: absolute;

    width: 300px;
    height: 300px;

    border-radius: 2%;
    border: solid 1px #202020;
    box-shadow: 2px 2px 2px #202020;

    color: white;
}

.workspace-indicator {
    background-color: black;
    border-style: solid 0px;
    box-shadow: none;
    border: 0;
    color: white;
}

.workspace-indicator:hover {
    background-color: gray;
}

.date-button {
    background-color: black;
    border-style: solid 0px;
    box-shadow: none;
    border: 0;
    color: white;
}

.date-button:hover {
    background-color: gray;
}

.window-header-bar {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 1.5em;

    text-align: center;
}

.dock {
    position: absolute;

    left: 50%;
    bottom: 15px;

    width: 50%;
    height: 5em;

    border-radius: 20px;

    transform: translateX(-50%);

    background-color: #202020;

    z-index: 500;
    opacity: 80%;
}

.dock-button {
    position: relative;

    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

    width: 5em;
    height: 5em;

    background-color: #303030;
    border-style: solid 0px;
    box-shadow: none;
    border: 0;
    color: white;

    border-radius: 5px;

    opacity: 80%;
}

.dock-button:hover {
    background-color: gray;
}