html {
    height: 100%;
}

body {
    background-image: url("http://localhost:8888/files/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    width: 100%;
    height: 100%;

    font-family: sans-serif;

    margin: 0;
}

header {
    background-color: black;
    color: white;

    height: 1.5em;
    align-items: center;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.row-box {
    position: relative;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: start;
}

.date-group {
    position: relative;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.window {
    position: absolute;

    width: 300px;
    height: 300px;

    border-radius: 2%;
    border: solid 1px #202020;
    box-shadow: 2px 2px 2px #202020;

    color: white;
}

.window-header-bar {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 1.5em;

    text-align: center;
}